<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<% if (firstname != undefined) { %>
        <title>Je ne peux quand même pas l'appeler <%= firstname %></title>
        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Je ne peux quand même pas l'appeler <%= firstname %>">
        <% if (reasons != undefined) { %>
        <% reasons.forEach(function(reason, index){ %>
			<% if (index == 0){ %>
				<meta property="og:description" content="Je ne peux quand même pas l'appeler <%= firstname %> car : <%= reason %>">
			<%}%>
		<% }) %>
        <% } %>
        <meta property="og:url" content="<%= req.protocol + '://' + req.get('host') +'/'+ firstname %>">
        <meta property="og:site_name" content="Je ne peux quand même pas l'appeler !">
        <meta property="og:image" content="./assets/img/logo.gif">
		<% } else { %>
        <title>Mentions légales</title>
		<% } %>
		<meta name="description" content=""/>
		<link rel="icon" href="./favicon.ico" />
		<link media="all" rel="stylesheet" href="./prod/css/style.css" />
	</head>
	
	<body>
    	<header id="logo">
			<a href="http://www.jepeuxquandmemepaslappeler.fr/" title="Direction le FUN"><svg id="logoSVG" width="52" height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.4 124.7"><defs><style>.a{fill:#fcd3be;}.b,.d{fill:none;}.c{fill:#f2af91;}.d{stroke:#5e3119;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.12px;}</style></defs><title>logo</title><path class="a" d="M99.41,72.07s6.72,16.57-.9,30.39c-8.63,15.66-37.43,27.86-55.36,22.4-16.82-5.12-22.86-23-18-33.15,0,0-11-54.92-13.87-67.41S21.71,1.56,27.53,17.13,40.06,54,40.06,54s-0.22-6.3,7.51-9.75S58.33,46.1,58.33,46.1s2-4.34,10.59-4.7c6.73-.28,11,9.84,11,9.84C81.11,46.6,90.2,45,94.85,53.14Z" transform="translate(-2.09 -1.83)"/><path class="b" d="M62.54,86.06l1.6-.81,0.77,0.46a12,12,0,0,1-1.65-4A20.68,20.68,0,0,1,62.54,86.06Z" transform="translate(-2.09 -1.83)"/><path class="c" d="M86.41,88.7a11.78,11.78,0,0,1-6-4.36s-0.62.58-1.56,1.32a15.3,15.3,0,0,0,1.61-3.58s-1.9,1.79-9.3-4.89-9.81-32.82-9.81-32.82l-3.52.39s1.77,11.47,2.91,14.72a25.9,25.9,0,0,1,.88,8.13s0.2,1.75.45,4.05c-0.68-1.2-1.22.15-1.22,0.15s-3.93,6.44-6.08,8.31-2.37,2.6-2.37,2.6a22.52,22.52,0,0,1,2.4,4.7c0.3,0.86.47,1.62,0.73,2.21l-0.44.22s1.87,6.93.15,10.06c0,0,3.55-3.49,5.72-4.53S64.09,94,64.09,94s1.65,3.92,5.75,2.77,8.65-5,8.65-5,1.21,2.67,5.32,2.35S95.15,83.95,95.15,83.95,90.12,89.65,86.41,88.7ZM64.13,85.26l-1.6.81a20.68,20.68,0,0,0,.72-4.3,12,12,0,0,0,1.65,4Z" transform="translate(-2.09 -1.83)"/><path class="c" d="M87.08,88.18c5.72,1.09,10.43-9.55,10.43-9.55s-3.24,2-8.66-1.46c-3.88-2.46-5.93-12-6.78-17.28,0.36,4.83.47,13.45-.41,18.39C80.4,85.18,81.36,87.09,87.08,88.18Z" transform="translate(-2.09 -1.83)"/><path class="c" d="M82.06,59.89a14.2,14.2,0,0,0-.49-3.5S81.72,57.8,82.06,59.89Z" transform="translate(-2.09 -1.83)"/><path class="c" d="M50.56,60.4a36.16,36.16,0,0,1-4.21-4.52c-2.62-3.2-2.49-9.25-2.49-9.25-8.43,4.83-2.15,20.61-2.15,20.61Z" transform="translate(-2.09 -1.83)"/><path class="c" d="M41.79,108.15c-12.24-14.64-5.35-35.6-5.35-35.6L24.24,89.93c0.59,1.12.93,1.78,0.93,1.78-4.89,10.11,1.15,28,18,33.15,13.12,4,32.07-1.45,44.66-10.8a8.8,8.8,0,0,0-1.08-.66S54,122.79,41.79,108.15Z" transform="translate(-2.09 -1.83)"/><path class="c" d="M32.92,77.45S26.86,61.21,20.69,38.26s-1.87-27.82-1.87-27.82c-4.59-.27-9.51-0.42-6.47,15.76S24.59,89,24.59,89Z" transform="translate(-2.09 -1.83)"/><path class="d" d="M24.93,91c-4.89,10.11,1.15,28,18,33.15,17.94,5.46,46.78-6.71,55.36-22.4,5-9.14,3.18-21.07.79-29.44" transform="translate(-2.09 -1.83)"/><path class="d" d="M54.66,101c4-8.12-2.29-18.31-2.29-18.31s13.53-10.46,8.48-22.35C57.58,52.68,47.31,62,40.51,67.76S24.93,91,24.93,91,22.23,73.7,19.6,61.88c-2.71-12.14-6-27.87-8.54-39.36C8.06,8.88,23,5.31,27.53,17.13c4.07,10.56,11.64,37.52,11.64,37.52s-0.57-8,8.39-10.43c8.27-2.2,10.51,1.17,10.51,1.17S62.89,40,71.54,42.19c11.16,2.86,13.23,32,8,42.16-3.87,7.58-15.89,7.77-16.27-3.67,0,0,1.37,9.26-6.68,9.83" transform="translate(-2.09 -1.83)"/><path class="d" d="M80.23,83.26c4.39,10.6,15.17,3.09,17.19-4,2.61-9.17.38-19.49-3.76-27.88-3.18-6.43-13.26-4.88-13.71-.12" transform="translate(-2.09 -1.83)"/><line class="d" x1="61.19" y1="78.85" x2="59.78" y2="67.35"/><path class="d" d="M58.08,45.38s2.11,8.28,2.29,13.09" transform="translate(-2.09 -1.83)"/><path class="d" d="M39.17,54.65A78.37,78.37,0,0,0,41.61,65.9" transform="translate(-2.09 -1.83)"/><path class="d" d="M27.45,2.89c8.86,9.18,13.67,32.39,13.67,32.39" transform="translate(-2.09 -1.83)"/><path class="d" d="M3.16,33.44s7.42,26,9.8,39.18" transform="translate(-2.09 -1.83)"/>
			<foreignObject width="0" height="0" overflow="hidden">
				<img class="logo" src="assets/img/logo.gif" width="52" height="64"  alt="Logo firstname basher" />
			</foreignObject>
			</svg></a>

    	</header>